# .gitignore

# Ignore PyInstaller build directories
/dist
/build
/rocket_app.build

# Ignore PyInstaller .spec file
/*.spec

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore other unnecessary files
*.log
*.bak
*.swp
*.pyo
*.pyd
.DS_Store
*.xml
*.cmd
*.exe
